// Definindo ícone do aplicativo
#define IDI_ICON1 101
IDI_ICON1 ICON "App.ico"

// Informações de versão
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40000L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Ele Mermo!\0"
            VALUE "FileDescription", "Jogo feita pra Game Jam do CriaScript\0"
            VALUE "FileVersion", "1.0.0.0\0"
            VALUE "InternalName", "Last-Night.exe\0"
            VALUE "OriginalFilename", "Last-Night.exe\0"
            VALUE "ProductName", "Last Night\0"
            VALUE "ProductVersion", "1.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
